
.main-header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
}
.main-header__container{
     display: flex;
     justify-content: space-between;
    align-items: center;

}
.active {
    position: relative;
    color: var(--accent-color);
}

@media screen and(max-width:767px){
.nav-list {
    display: none;
}

.phone-number {
    display: none;
}

.email-address {
    display: none;
}
.contact-button {

    background-color: transparent;
    padding: 0;
    line-height: 0;
    
}
.contacts-wrap{
    display: none;
}
}

@media screen and(min-width:768px){
    .main-header{
        padding-top: 21px;
        padding-bottom: 25px;
    }
    .contact-button{
        display: none;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        padding-top: 32px;
        margin-left: 88px;
    }

    .nav-list__item:not(:last-child) {
        margin-right: 50px;
    }

    .nav-list__link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        color: #212121;

        &:hover{
            color: var(--accent-color);
        }
    }
    
.active{
        color: var(--accent-color);
}
.active::after {
    position: absolute;
    margin-top: 32px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
}
    .contacts-wrap{
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start;
    }

    .email-address{
        margin-bottom: 10px;
    }
    .phone-number,
    .email-address {
        font-weight: 500;
        font-size: 14px;
        line-height: 0.87;
        letter-spacing: 0.02em;
        color: var(--phone-email-color-white-theme);
        display: flex;
        flex-direction: row-reverse;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.envelope-icon {
    fill: #757575;
    margin-right: 10px;
}

}

@media screen and(min-width:1200px) {
    .main-header{
        padding-top: 24px;
        padding-bottom: 28px;
    }
    .nav-list{
        margin-left: 93px;
    }

    .nav-list__link:focus{
        color: var(--accent-color);
    }

    .contacts-wrap{
        display: flex;
        flex-direction: row-reverse;
    }
.email-address{
    margin-right: 30px;
}
    .phone-number,
    .email-address {
        font-weight: 500;
        font-size: 14px;
        line-height: 0.87;
        letter-spacing: 0.02em;
        color: var(--phone-email-color-white-theme);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }  
    .phone-number:hover,
    .phone-number:focus,
    .email-address:hover,
    .email-address:focus {
        color: var(--accent-color);
    }
    .phone-number:hover .envelope-icon,
    .email-address:hover .envelope-icon,
    .phone-number:focus .envelope-icon,
    .email-address:focus .envelope-icon {
        fill: var(--accent-color);
    }
}

 

    
  
    
  
    

    
  
    
    
    










