.what-we-do {
    padding-top: 0;
}


.what-we-do-list__what-we-do-cards {
    flex-basis: calc((100% - 90px) / 3);
}

.title-image {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.what-we-do-wrapper {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 370px;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
    }
}

.we-do-title {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    padding: 27px 82px;
    margin-bottom: 0;
}

@media screen and (max-width:1200px){
.what-we-do{
    display: none;
}
}

