.navigation_studio-header_theme_white {
    color: var(--nav-list-link-color);
}

.footer_studio-footer_theme_black {
    color: #ffffff;
}

.navigation__logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}