.what-we-do-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--nav-list-link-color);
  margin-bottom: 30px;
  text-align: center;
}

@media screen and(min-width:1200px){
  .what-we-do-title{
font-size: 36px;
line-height: 1.16;
margin-bottom: 50px;
  } 
}